.single_leaderboard >  .rank {
  flex: 0.5;
  font-size: 12px;
  font-weight: 800;
  line-height: var(--line-height);
  text-transform: uppercase;

  color: var(--body-bg-color);
}
.single_leaderboard >  .rank > span {
  display: block;
  width: 85px;
  height: 30px;
  display: flex;
  letter-spacing: 2px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #f8f452 0%, #fdfa9e 100%);
}

@media screen and (max-width:768px) {
    .single_leaderboard >  .rank{
        flex: 1;
      
        font-size: var(--title-md-span-font-size);
        font-weight: 500;
        
      }
      .single_leaderboard >   .rank > span{
        display: flex;
        width: 65px;
        height: 20px;
      
        letter-spacing: 1px;
        border-radius: 2px;
        align-items: center;
        justify-content: center;
      
      }
}